.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 20%; /* Default right position */
	background-color: rgb(239, 239, 239);
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 10;
  }
  
  .my-float {
	margin-top: 16px;
  }
  
  @media (max-width: 768px) {
	/* Media query for mobile devices */
	.float {
	  right: 10%; /* 10% from the right on mobile */
	}
  }
  