
*,
*:before,
*:after {
  box-sizing: border-box;
}

.cart {
  position: absolute;
  min-width: 50px;
  height: 50px;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.cart i {
  font-size: 25px;
  color: #444444;
}

.cart:before {
  content: attr(data-totalitems);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -12px;
  right: -12px;
  background: orange;
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: white;
  text-align: center;
  border-radius: 24px;
}

.cart.shake {
  animation: shakeCart 0.4s ease-in-out forwards;
}

@keyframes shakeCart {
  25% {
    transform: translateX(6px);
  }

  50% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

    
.emoji {
  position: absolute;
  transform: translateZ(0);
  perspective: 1000;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  width: 42px;
  top: -64px;
}






