.scrolling-wrapper-filter {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .scrolling-wrapper-filter::-webkit-scrollbar{
    width:0
  }
  
  
  .myCustomHeight {
    height: calc(100% - 100px); /* Default height */
  }
  
  @media screen and (min-width: 768px) {
    .myCustomHeight {
      height: calc(100% - 125px); /* Height for medium devices and up */
    }
  }