@media only screen and (max-width: 600px) {
    &,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 35%;
    }

    td:last-child {
      border-width: 0;
    }

    td:before {
      content: attr(data-title);
      color: #ccc;
      position: absolute;
      top: 6px;
      left: 6px;
      width: 15%;
      padding-right: 10px;
      white-space: nowrap;
    }
  }